<div class="card user-card" *ngIf="user.id > 0">
  <div class="card-header">Selected User</div>
  <div class="card-body">
    <!--
      TODO!
      Show the following four properties of the user,
      in four p elements:
      id, name, email, address
     -->



    <p>
      <!--
        TODO!
        1. Create here a button, with the btn, btn-danger and btn-block classes.
        2. Should be a trash icon and the delete text in the button.
        3. Set the click event to the button with event-binding,
        when the user clicks on the button, the onDelete method shuld run
        with the user.
       -->



    </p>
  </div>
</div>
